<h1> This is a page to edit the Recipe Ingredients!</h1>

<%= @recipe.name %>
<%= @recipe.ingredients %>
<%= @recipe.cook_time %> minutes


<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <ul>Recipe Name:<input type="text" name="name"></ul>
  <ul>Ingredients:<input type="text" name="ingredients"></ul> 
  <ul>Cooktime:<input type="text" name="cooktime"></ul>
  <input type="submit" value="submit">
</form>