<!DOCTYPE html>
  <body>
    <ul>
      <% @recipes.each do |item| %>
        <li><%= item.name %></li>
        <li><a href="/recipes/<%="#{item.id}"%>"</a></li>
      <% end %>
    </ul>
  </body>
</html>