<!DOCTYPE html>
  <body>
    <form action='/recipes' method='post'>
      <p><label>Name: </label><input type='text' id='name' name='name'></p>
      <p><label>Ingredients: </label><input type='text' id='ingredients' name='ingredients'></p>
      <p><label>Cook time: </label><input type='text' id='cook_time' name='cook_time'></p>
      <p><input type='submit' id='submit' value='Add Recipe'></p>
    </form>
  </body>
</html>