<h1>Create a New Recipe</h1>
<form action="/recipes" method="POST">
  <h3>Name: <input type="text" name="name" placeholder="Name:"></h3>
  <h3>Ingredient: <input type="text" name="ingredients" placeholder="Ingredients:"></h3>
  <h3>Cook Time: <input type="text" name="cook_time" placeholder="Cook Time:"></h3>
   <input type="submit" value="Save">
</form>