<div style="margin-left: 30%; padding-top: 5%">
  <form action="/recipes" method="post">
    <h1>Create Your Recipe</h1>
    <label style="padding-right: 20px" for="name"> Recipe Name: </label><br>
    <input type="text" name="name" /><br><br><br>

    <label for="ingredients"> Recipe ingredients: </label><br>
    <textarea style="box-sizing: content-box; width: 25%; border: solid #D3D3D3 1px; height: 100px" type="text" name="ingredients"></textarea><br><br>

    <label style="padding-right: 20px" for="cook_time">Cook Time: </label><br>
    <input type="text" name="cook_time" /><br><br>
    
    <input type="submit" value="submit" />
  </form>
</div>
