<h1><%= @recipes.name %></h1>
<h2><%= @recipes.ingredients %></h2>
<h2><%= @recipes.cook_time %></h2> 

<form method="post" action="/recipes/<%= @recipes.id %>">

    <input type="hidden" name= "_method" value="delete">
    <label>Delete Recipe</label> 
    <button type="submit" value="delete"> 

</form>
<br>
<br>


    

    


     